.createPost_Main {
    display: flex;
    align-content: center;
    margin: 0 auto;
    border-radius: 5px;
    background-color: transparent;

}

body {
    background-color: rgb(43, 41, 41);
}

.createPost_Header {
    
    display: flex; 
    justify-content: left;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 30px;

    background-color: rgb(43, 41, 41);

}

.createPost_Div {
    position: relative;
    text-align: center;
    background-color: rgb(43, 41, 41);
    
}

.createPost_MQ {
    background-color: transparent;
    color: antiquewhite;
    font-family: comforter;
    font-size: 38px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.all_createPost_Header {
    display: flex;
    flex-direction: row;
}

#displayUsername {
    font-size: 30px;
    margin: 0 auto;
    margin-top: 40px;
    margin-right: 30px;
}

.input_Section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100px;
    height: 200px;

    flex-direction: column;

}

.input_tags {
    width: 125px;
    height: 45px;
    color: black;
    background-color: white;
    margin: 0 auto;
    margin-right: 20px;
    margin-top: 20px;
    
}

#post_Button {

    width: 125px;
    height: 45px;
    color: black;
    background-color: white;
    margin: 0 auto;
    margin-right: 20px;
    margin-top: 20px;

}


.awesome_createPost {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    -webkit-animation: colorchange 20s infinite alternate;
    margin-right: 35px;
    margin-top: 35px;
}

@-webkit-keyframes colorchange {
    0% {
    color: blue;
    }
    10% {
    color: #8e44ad;
    }
    20% {
    color: #1abc9c;
    }
    30% {
    color: #d35400;
    }
    40% {
    color: blue;
    }
    50% {
    color: #1e9e53;
    }
    60% {
    color: rgb(255, 0, 170);
    }
    70% {
    color: #ad0d0d;
    }
    80% {
    color: #f1c40f;
    }
    90% {
    color: #ce9e1a;
    }
    100% {
    color: rgb(16, 168, 148);
    }
}


