<main class="createPost_Main">

        <section class = "input_Section">

                <input type="text" class = "input_tags" placeholder="Helmet" id = "user_Helmet">

                <input type="text" class = "input_tags" placeholder = "Armor" id = "user_Armor">

                <input type="text" class = "input_tags" placeholder = "Weapons" id = "user_Weapons">

                <input type="text" class = "input_tags" placeholder = "Cape" id = "user_Cape">
        
                <input type="text" class = "input_tags" placeholder = "About your Build" id = "user_About">

                <button type="submit" id ="post_Button">Post your Build</button>

        </section>
        

</main>