<main class = "createPost_Main">

        <input type="text" placeholder="Helmet">

        <input type="text" placeholder = "Armor">

        <input type="text" placeholder = "Weapons">

        <input type="text" placeholder = "Cape">
        
        <input type="text" placeholder = "About your Build">

</main>