<main class="createPost_Main">

        <input type="text" placeholder="Helmet" id = "user_Helmet">

        <input type="text" placeholder = "Armor" id = "user_Armor">

        <input type="text" placeholder = "Weapons" id = "user_Weapons">

        <input type="text" placeholder = "Cape" id = "user_Cape">
        
        <input type="text" placeholder = "About your Build" id = "user_About">

        <button type="submit">Post your Build</button>

        <input type="text" placeholder="Helmet" id="user_Helmet">

        <input type="text" placeholder="Armor" id="user_Armor">

        <input type="text" placeholder="Weapons" id="user_Weapons">

        <input type="text" placeholder="Cape" id="user_Cape">

        <input type="text" placeholder="About your Build" id="user_About">

        <button type="submit">Post your Build</button>
        <!--this needs to be whatever and wherever the username is being stored in the users database-->


</main>