
    <section class = 'all_createPost_Header'>
        <header class = "createPost_Header">
        
            <div class = "createPost_Div">
                <img id = 'logo_Image' src="../images/dungeonGif_sm.gif">
                <h1 class = ' createPost_MQ'>MouseQuest</h1>
            </div>
                
        
        </header>

        <section class = "display_User">
            <h1 class = 'awesome_createPost' id = displayUsername>Welcome, </h1>
        </section>

    </section>
    <ul class="card_list">
      {{#each_card}}
      <li>
      <!-- header with logo -->
      {{<article class="cssui-usercard">
		  <div class="cssui-usercard__body">
			<header class="cssui-usercard__header">
				<img src="https://stas-melnikov.ru/cliparts/stas.jpg" class="cssui-usercard__avatar" alt="Avatar">
				<div class="cssui-usercard__header-info">
					<h3 class="cssui-usercard__name">Username</h3>
					<span class="cssui-usercard__post">Level __ Mouse</span>
				</div>
			</header>
			<div class="cssui-usercard__content">
				<div class="cssui-slider">

					

					<input id="slide1" type="radio" class="cssui-slider__switch cssui-usercard__switch" name="slider-controls" checked autofocus>
					<label for="slide1" class="cssui-slider__control cssui-usercard__control"></label>
					<input id="slide2" type="radio" class="cssui-slider__switch cssui-usercard__switch" name="slider-controls">
					<label for="slide2" class="cssui-slider__control cssui-usercard__control"></label>
					

					<div class="cssui-slider__slides">

						

						<div class="cssui-slider__slide">
							<h4 class="cssui-usercard__title">Build Choice</h4>
							<div class="cssui-usercard__stats">
								<div class="cssui-stats cssui-usercard__stats-item">
									<i class="cssui-icon icon-earth"></i>
									<div class="cssui-stats__info cssui-usercard__stats-info">
										<span class="cssui-stats__name cssui-usercard__stats-name">Helmet</span>
										<span class="cssui-stats__value">"Insert item here"</span>
									</div>
								</div>
								<div class="cssui-stats cssui-usercard__stats-item">
									<i class="cssui-icon icon-location"></i>
									<div class="cssui-stats__info cssui-usercard__stats-info">
										<span class="cssui-stats__name cssui-usercard__stats-name">Armor</span>
										<span class="cssui-stats__value">"Insert item here"</span>
									</div>
								</div>
								<div class="cssui-stats cssui-usercard__stats-item">
									<i class="cssui-icon icon-calendar"></i>
									<div class="cssui-stats__info cssui-usercard__stats-info">
										<span class="cssui-stats__name cssui-usercard__stats-name">Cape</span>
										<span class="cssui-stats__value">"Insert item here"</span>
									</div>
								</div>
								<div class="cssui-stats cssui-usercard__stats-item">
									<i class="cssui-icon icon-man-woman"></i>
									<div class="cssui-stats__info cssui-usercard__stats-info">
										<span class="cssui-stats__name cssui-usercard__stats-name">Weapon</span>
										<span class="cssui-stats__value">"Insert item here"</span>
									</div>
								</div>
							</div>
						</div>

						

						<div class="cssui-slider__slide">
							<h4 class="cssui-usercard__title">About Build</h4>
							<div class="cssui-usercard__stats">
								<p>test test test test test test test test test test test test test</p>
							</div>
						</div>}}
      </li>
      {{/each}}
    </ul>

</body>
</html>