<section class="login_Options">

    <div class="login_Menu">

        <container class='login_Display'>

            <p style="font-size: 25px; font-family: arial; text-decoration: underline;" class='awesome'>Welcome back
                Hero!</p>

            <input type="Text" id='username_Input' placeholder='Username'>

            <input type="Text" id='password_Input' placeholder='Password'>

            <button type='button' id='login_Button'>Log In</button>

            <a href="/signup" id='link_to_SignUp'>Create a new account</a>


        </container>

    </div>
    <!--this needs to be whatever and wherever the username is being stored in the users database-->
