<section class="signUp_Options">

    <div class="signUp_Menu">

        <container class='signUp_Display'>

            <p style="font-size: 25px; font-family: arial; text-decoration: underline;" class='awesome'>Join The Fight,
                Hero!</p>

            <input type="Text" class='textFeild' id='email_Input' placeholder='Email'>


            <input type="Text" class='textFeild' id='create_username_Input' placeholder='Create your Username'>

            <input type="Password" class='textFeild' id='create_password_Input' placeholder='Create your Password'>

            <button type='submit' id='signUp_Button'>Sign Up</button>

            <a href="/login" id='link_to_Login'>Create a new account</a>


        </container>

    </div>
    <!--this needs to be whatever and wherever the username is being stored in the users database-->

</section>