<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- bootstrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <!-- style sheet link -->
    <link rel="stylesheet" href="../style/signUp.css">
    
    <!-- google fonts links  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comforter&display=swap" rel="stylesheet">


    <title>Sign Up for MouseQuest</title>

</head>



<body>

    <!-- header with logo -->
    <header class = "signUp_Header">
        
        <div class = "signUp_Div">
            <img id = 'logo_Image' src="../images/dungeonGif.gif">
            <h1 class = ' signUp_MQ'>MouseQuest</h1>
        </div>
                
        
    </header>

    <section class = "signUp_Options">

        <div class = "signUp_Menu">

            <container class = 'signUp_Display'>

                    <p style = "font-size: 25px; font-family: arial; text-decoration: underline;" class = 'awesome' >Join The Fight, Hero!</p>

                    <input type = "Text" class = 'textFeild' id = 'email_Input' placeholder = 'Email'>


                    <input type = "Text" class = 'textFeild' id = 'create_username_Input' placeholder = 'Create your Username'>

                    <input type = "Text" class = 'textFeild' id = 'create_password_Input' placeholder = 'Create your Password'>
                    <input type = "Text" class = 'textFeild' id = 'confirm_password_Input' placeholder = 'Confirm Password'>

                    <button type = 'button' id = 'signUp_Button'>Sign Up</button>

                    <a href = "../views/login.html" id = 'link_to_login' >Already have an Account?</a>


            </container>

        </div>

    </section>
    




</body>




</html>