<section class = "signUp_Options">

        <div class = "signUp_Menu">

            <container class = 'signUp_Display'>

                    <p style = "font-size: 25px; font-family: arial; text-decoration: underline;" class = 'awesome' >Join The Fight, Hero!</p>

                    <input type = "Text" class = 'textFeild' id = 'email_Input' placeholder = 'Email'>


                    <input type = "Text" class = 'textFeild' id = 'create_username_Input' placeholder = 'Create your Username'>

                    <input type = "Text" class = 'textFeild' id = 'create_password_Input' placeholder = 'Create your Password'>
                    <input type = "Text" class = 'textFeild' id = 'confirm_password_Input' placeholder = 'Confirm Password'>

                    <button type = 'button' id = 'signUp_Button'>Sign Up</button>

                    <a href = "../views/login.html" id = 'link_to_login' >Already have an Account?</a>


            </container>

        </div>

    </section>